**Variables Instrumentales - Mínimos Cuadrados en 2 Estapas**

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.stats.api as sms

In [4]:
!pip install linearmodels

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [2]:
data = pd.read_csv("C:/Users/57317/Desktop/Universidad Nacional/Programación/Python/Curso Econometría básica con Python/Bases de datos/MROZ.csv")

In [3]:
data.head()

,inlf,hours,kidslt6,kidsge6,age,educ,wage,repwage,hushrs,husage,...,faminc,mtr,motheduc,fatheduc,unem,city,exper,nwifeinc,lwage,expersq
0,1,1610,1,0,32,12,3.3540,2.65,2708,34,...,16310,0.7215,12,7,5.0,0,14,10.910060,1.210154,196
1,1,1656,0,2,30,12,1.3889,2.65,2310,30,...,21800,0.6615,7,7,11.0,1,5,19.499981,0.328512,25
2,1,1980,1,3,35,12,4.5455,4.04,3072,40,...,21040,0.6915,12,7,5.0,0,15,12.039910,1.514138,225
3,1,456,0,3,34,12,1.0965,3.25,1920,53,...,7300,0.7815,7,7,5.0,0,6,6.799996,0.092123,36
4,1,1568,1,2,31,14,4.5918,3.60,2000,32,...,27300,0.6215,12,14,9.5,1,7,20.100060,1.524272,49

In [5]:
data.isna()

,inlf,hours,kidslt6,kidsge6,age,educ,wage,repwage,hushrs,husage,...,faminc,mtr,motheduc,fatheduc,unem,city,exper,nwifeinc,lwage,expersq
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
749,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
750,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
751,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
752,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [6]:
data.isna().sum()

inlf          0
hours         0
kidslt6       0
kidsge6       0
age           0
educ          0
wage        325
repwage       0
hushrs        0
husage        0
huseduc       0
huswage       0
faminc        0
mtr           0
motheduc      0
fatheduc      0
unem          0
city          0
exper         0
nwifeinc      0
lwage       325
expersq       0
dtype: int64

In [8]:
data = data[data["wage"].notna()]
data.isna().sum()

inlf        0
hours       0
kidslt6     0
kidsge6     0
age         0
educ        0
wage        0
repwage     0
hushrs      0
husage      0
huseduc     0
huswage     0
faminc      0
mtr         0
motheduc    0
fatheduc    0
unem        0
city        0
exper       0
nwifeinc    0
lwage       0
expersq     0
dtype: int64

**Proceso Manual**

In [9]:
Y1 = data["lwage"]
Y2 = data["educ"] 
X = data[["exper","expersq"]]
Z = data[["motheduc","fatheduc"]]

**Primera Etapa**

In [10]:
Frames = [X , Z]
RegresorasPE = pd.concat(Frames, axis =1)

In [ ]:
PrimeraEtapa = sm.OLS(___, sm.add_constant(_______________))

In [ ]:
ResultadosPE = PrimeraEtapa.fit()
print(ResultadosPE.summary())

In [ ]:
hipotesis = "(fatheduc = 0), (motheduc = 0)"
Prueba_F = ResultadosPE.f_test(_________) # Evalúa la hipótesis
print(________)

In [ ]:
Estadistico = Prueba_F.______________

In [ ]:
pvalue = Prueba_F.___________

In [ ]:
Nombres = ["Estadístico","pvalue"]
pd.Series([___________, round(______,4)], index = ________)

In [ ]:
data["Predicción_educ"]= ResultadosPE._________

**Segunda Etapa**

In [ ]:
Y1SE = data[_______] 
Y2SE = data[_________] 
XSE = data[[________,________]]

In [ ]:
FrameSegEtapa = [______,_______]
RegresorasSegEtapa = pd.concat(_________, axis = __)

In [ ]:
SegundaEtapa = sm.OLS(______,sm.add_constant(________))
ResultadosSegEtapa = SegundaEtapa.fit()
print(ResultadosSegEtapa.summary())

**Proceso Automático**

In [ ]:
from linearmodels.iv import IV2SLS

In [ ]:
Modelo2Etapas = IV2SLS(dependent= ____, exog = _________, endog= _____, instruments= _____)
ResultadosMod2Etapas = Modelo2Etapas.fit()
print(ResultadosMod2Etapas.summary)

**Con errores robustos**

In [ ]:
FramesMCO = [_____ , ______]
RegresorasMCO = pd.concat(_______, axis = ____)

In [ ]:
ModeloMCO = sm.OLS(___, sm.add_constant(___________))
ResultadosMCO = ModeloMCO.fit(cov_type = "___") 
print(ResultadosMCO.summary())

**Comparar Modelo**

In [ ]:
from linearmodels.iv import compare # Extraer esa función

In [ ]:
# ESTÁ FALLANDO
compare({"MCO": ______________ , "2 Etapas" : _____________})

In [ ]:
ResultadoMCO = IV2SLS(dependent= ____, exog= sm.add_constant(__________), endog = ____, instruments = ____).fit()
print(ResultadosMCO.summary())

In [ ]:
ResultadosAutomático = IV2SLS(dependent= ____, exog= sm.add_constant(_____), endog= _____, instruments= ____).fit()
print(ResultadosAutomático.summary)

In [ ]:
ResultadosManual= IV2SLS(dependent=_____, exog=sm.add_constant(_______),endog=___, instruments=____).fit()
print(ResultadosManual)

In [ ]:
compare({"MCO": _______ , "2 Etapas Manual": ________, "2 Etapas Automático":________})